<?xml version="1.0" encoding="UTF-8"?>
<settings
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://maven.apache.org/SETTINGS/1.1.0"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
  <properties>
    <artifactory.username>ciaran.hasson</artifactory.username>
    <artifactory.password>kFMKPcobm98HG+83jCAloA7pLyWYivx0XDCVEWxPzO8=</artifactory.password>
  </properties>
  <servers>
    <server>
      <username>${artifactory.username}</username>
      <password>${artifactory.password}</password>
      <id>central</id>
    </server>
    <server>
      <username>${artifactory.username}</username>
      <password>${artifactory.password}</password>
      <id>snapshots</id>
    </server>
  </servers>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>repocentral</name>
          <url>https://artifactory.azure.defra.cloud/artifactory/repocentral</url>
        </repository>
        <repository>
          <snapshots/>
          <id>snapshots</id>
          <name>repocentral</name>
          <url>https://artifactory.azure.defra.cloud/artifactory/repocentral</url>
        </repository>
        <repository>
          <id>jitpack.io</id>
          <url>https://jitpack.io</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>repocentral</name>
          <url>https://artifactory.azure.defra.cloud/artifactory/repocentral</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots/>
          <id>snapshots</id>
          <name>repocentral</name>
          <url>https://artifactory.azure.defra.cloud/artifactory/repocentral</url>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>
